@font-face {
  font-family: 'Oblik Bold';
  src: url("../fonts/Oblik_Bold.otf") format("opentype");
}

.light-mode {
  --color-primary: black;
  --color-secondary: white;
  --filter-brightness: 1.1;
  --box-shadow: #bbb6;
}

.dark-mode {
  --color-primary: white;
  --color-secondary: black;
  --filter-brightness: 0.3;
  --box-shadow: #4446;
}

body {
  font-family: 'Oblik Bold', sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

img#coverart {
  width: 33vw;
  border-radius: 5%;
  box-shadow: 0 0 3vw var(--box-shadow);
}

div#progress-total {
  background-color: var(--color-secondary);
  border-color: var(--color-primary);
  border-style: solid;
  border-width: 6px;
  width: calc(54vw - 12px);
  height: 2.5vw;
  border-radius: 1vw;
}

span#trackname {
  word-break: break-word;
  display: block;
  font-size: 10vw;
  margin-right: 4vw;
  margin-bottom: 1vw;
}

span#artistname {
  display: block;
  font-size: 4vw;
  margin-right: 4vw;
}

#details-top {
  position: absolute;
  top: calc((100vh - 30vw) / 2);
}

#details-bottom {
  position: absolute;
  bottom: calc((100vh - 30vw) / 2);
}

div#inner-progress {
  background-color: var(--color-primary);
  width: 0;
  height: inherit;
}

table {
  border-collapse: collapse;
}

tr {
  margin: 0;
  width: 100%;
  height: 100%;
}

tr > * {
  vertical-align: middle;
}

td#details-td {
  padding-left: 4vw;
  padding-right: 4vw;
  height: 33vw;
}

#time-now {
  position: relative;
  left: 6px;
}

#time-total {
  position: absolute;
  right: 6px;
}

#timing-tr {
  width: 55vw;
  font-size: 3vw;
}

td#cover-td {
  height: 99vh;
  padding-left: 4vw;
}

#bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10vh);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  transform: scale(1.30);
  z-index: -100;
}

#bg-image:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: grayscale(0.5) brightness(var(--filter-brightness));
  background-color: var(--bg-filter);
}
