.light-mode {
  --filter-brightness: 1.1;
  --base-color-secondary: #fff;
  --mix-blend-mode: darken;
}

.dark-mode {
  --filter-brightness: 0.5;
  --base-color-secondary: #000;
  --mix-blend-mode: lighten;
}

body {
  font-family: 'Google Sans', sans-serif;
  margin: 0;
  overflow: hidden;
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

img#coverart {
  width: 33vw;
  border-radius: 5%;
  box-shadow: 0 0 5vw rgba(0, 0, 0, 0.2);
}

span#trackname {
  margin-bottom: 1vw;
  word-break: break-word;
  display: block;
  font-size: 15vw;
}

span#artistname {
  display: block;
  font-size: 6vw;
}

div#lastfm {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vw;
}

span#scrobbles-count {
  font-size: 5.5vw;
  margin-right: 2vw;
  background-color: var(--color-primary);
  color: var(--base-color-secondary);
  mix-blend-mode: var(--mix-blend-mode);
  padding: 0 2.5vw;
  border-radius: 6vw;
}

span#scrobbles-text {
  font-size: 5vw;
}

div#progress-total {
  background-color: var(--color-progress);
  width: 54vw;
  height: 3.5vw;
  border-radius: 3.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  overflow: hidden;
}

div#progress-current {
  position: relative;
  background-color: var(--color-primary);
  height: inherit;
  padding-left: 3.5vw;
  right: 3.5vw;
  border-radius: inherit;
}

table {
  border-collapse: collapse;
}

td#details-td {
  padding-left: 5vw;
  padding-right: 5vw;
  height: 33vw;
}

#time-current {
  margin-right: auto;
  padding-left: 6px;
}

#time-total {
  padding-right: 6px;
}

#time-div {
  display: flex;
  font-size: 3vw;
}

td#cover-td {
  height: 100vh;
  padding-left: 4vw;
}

#bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-secondary);
  filter: blur(7vw) brightness(var(--filter-brightness));
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  transform: scale(1.3);
  z-index: -100;
}

#bg-image::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: grayscale(0.3);
  background-color: var(--bg-filter);
}
