---
import "@fontsource-variable/fira-code";

import { Picture } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";

import LogoWhite from "../img/logo-white.png";
---

<script>
  import { postEvent } from "@telegram-apps/sdk";

  const loc = window.location.href;
  const url = new URL(loc);
  const code = url.searchParams.get("code");

  const codePre = document.querySelector("pre#code") as HTMLPreElement;

  if (code === null) {
    window.location.href = "..";
  } else {
    codePre.innerText = "/spoti " + code;

    postEvent("web_app_data_send", {
      data: code,
    });
  }

  const copyBtn = document.querySelector("a#copy-btn") as HTMLAnchorElement;

  const copiedSpan = document.querySelector("span#copied") as HTMLSpanElement;

  copyBtn.addEventListener("click", () => {
    navigator.clipboard.writeText(codePre.innerText).then(() => {
      copiedSpan.innerText = "Copied to clipboard!";
      setTimeout(() => {
        copiedSpan.innerText = "";
      }, 2000);
    });
  });
</script>

<MainLayout>
  <div
    id="main"
    class="flex h-screen max-w-4xl flex-col justify-center mx-auto p-4"
  >
    <Picture
      src={LogoWhite}
      formats={["avif", "webp"]}
      height="150"
      alt="LyricsPy Logo"
      class="mx-auto mb-16"
    />

    <h2 class="mx-auto text-2xl p-5 font-semibold">
      Copy the code below and send it to your previous chat:
    </h2>
    <pre
      id="code"
      class="p-2 w-full rounded-lg bg-neutral-900 whitespace-pre-wrap break-words mx-auto">
    </pre>
    <br />
    <div class="inline-block mt-5">
      <a
        class="cursor-pointer self-start bg-neutral-600 rounded-lg py-2 px-4 hover:bg-neutral-500 active:bg-neutral-700"
        id="copy-btn">Copy</a
      >
      <span id="copied"></span>
    </div>
  </div>
</MainLayout>

<style>
  pre {
    font-family: "Fira Code Variable", monospace;
  }
</style>
