---
import "@fontsource-variable/inter";
---

<html lang="en">
  <head>
    <title>LyricsPy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="bg-[#111111] text-[#eeeeee]">
    <slot />
  </body>
</html>
